[submodule "site-lisp/egg"]
	path = site-lisp/egg
	url = git://github.com/bogolisk/egg.git
[submodule "site-lisp/org-mode"]
	path = site-lisp/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "site-lisp/clojure-mode"]
	path = site-lisp/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule "site-lisp/swank-clojure"]
	path = site-lisp/swank-clojure
	url = git://github.com/technomancy/swank-clojure.git
[submodule "site-lisp/slime"]
	path = site-lisp/slime
	url = git://common-lisp.net/projects/mirror/slime.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = git://gitorious.org/magit/mainline.git
