*~
*#
site-lisp/git/
site-lisp/anything/
site-lisp/auto-complete/
site-lisp/color-theme/
loaddefs.el*
backups/*
auto-save-list
custom.el
*elc
places
url/cookies
elpa-to-submit/jabber/jabber.info
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc
thumbs/*
oddmuse/*
.newsrc-dribble
.nnmail-cache
/#.newsrc-dribble#
.svn
.DS_Store
image-dired/
elim/
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc~
tramp
/site-lisp/paredit/
/site-lisp/lacarte/lacarte.el
